.App {
  background-color: #000000;
  font-family: Montserrat;
  text-align: center;
}

.header {
  background-image: url('./assets/yousician-hero.png');
  color: #ffffff;
  padding-bottom: 50px;
}

.form-control {
  display: inline-block !important;
  margin-top: 30px;
  width: 30% !important;
  border-radius: 20px !important;
}

.item-wrapper {
  color: #ffffff;
  border-radius: 3px !important;

}

.song-wrapper:nth-child(even)>.song-item>.item-wrapper {
  background: #101010;
}

.filters {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-by {

  background: black;
  border-style: solid;
  border-color: black;
  color: white;
  border-radius: 5px;
}

.filterButton {
  display: inline-block;
  border-color: #ff8e00;
  color: white;
  border-radius: 50%;
  background: black;
  margin-right: 4px;
  width: 32px;
  text-align: center;
}

.filterButton.selected {
  background: white;
  color: black;
}

.song-list {
  height: calc(100vh - 150px);
}

.song-item {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* extra positioning */
.thumbnail {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  border-radius: 20%;
}

#heart-empty {
  color: #939393;
  font-size: 1.45em;
}

#heart-full {
  color: #dc001c;
  font-size: 1.45em;
}