.App {
  background-color: #000000;
  font-family: sans-serif;
  text-align: center;
}




.filterButton {
  background: black;
  color: white;
}

.filterButton.selected {
  background: white;
  color: black;
}

.song-list {
  height: calc(100vh - 150px);
  margin-top: 20px;
}



.song-item {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.thumbnail {
  height: 100%;
}

/* extra positioning */
.thumbnail {
  display: flex;
  flex-direction: column;
  float: left;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
} 

#heart-empty {
  color: red;
}

#heart-full {
  color: red;
}
