.App {
  background-color: #000000;
  font-family: sans-serif;
  text-align: center;
}

 .col-5 {
 
  
  background-color: #000000;
  color: grey ;
  border: 1px solid rgb(128, 128, 0) !important;
  border-radius: 3px !important;
  
} 


.filterButton {
  background: black;
  color: white;
}

.filterButton.selected {
  background: white;
  color: black;
}

.song-list {
  height: calc(100vh - 150px);
  margin-top: 20px;
}



.song-item {

  display: flex;
  justify-content: center;
  align-items: center;

  
}

.thumbnail {
  height: 100%;
}

/* extra positioning */
.thumbnail {
  display: flex;
  flex-direction: column;
  float: left;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
} 

#heart-empty {
  color: red;
}

#heart-full {
  color: red;
}
