// Override default variables before the import
$body-bg: #000;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

//  .list-group-item {
//   background-color: #000000;
//   color: grey ;
//   border: 1px solid rgb(128, 128, 0) !important;
//   border-radius: 3px !important;
 
// } 

.title {
  width: 35%;
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  // white-space: pre;
  
  .songname {
    font-weight: bold;
    float: left;
    // display:block;
  }
  .artist {
    clear: both;
    float: left;
  }
}


.icons {
  width: 35%;
  margin-top: 20px;
  float: left;
  margin-left: 10px;

  .favorite {
    float: right;
  }



}