// Override default variables before the import
$body-bg: #000;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.title {
  margin-top: 15px;
  float: left;
  margin-left: 10px;
  justify-content: center; 
  align-items: center;

  .songname {
    font-size: 12px;
    font-weight: bold;
    float: left;
    word-break: normal;
  }

  .artist {
    clear: both;
    float: left;
    font-size: 12px;
  }
}

.icons {
  width: 20%;
  margin-top: 20px;
  float: right;
  margin-left: 20px;
  .favorite {
    float: right;
  }
}